<i class="bi bi-arrow-left" style="cursor: pointer;" routerLink="../"></i>
<form [formGroup]="userForm" (ngSubmit)="submit()">
  <ng-container *ngFor="let key of keys">
    <br />
    {{ key | titlecase }}: <input type="text" formControlName="{{ key }}" />
    <br />
    <span *ngIf="userForm.controls[key]?.errors?.required" style="color: red;"
      >* This field is required *</span
    >
  </ng-container>
  <span style="color: red;">{{ error }}</span> <br />
  <input type="submit" value="GUARDAR" />
</form>
