.container--root {
  height: 800px;
  overflow: scroll;
}

b {
  font-weight: bold;
}

code {
  font-family: monospace;
  color: #707070;    
  background-color: #f9f9f9;
}

img {
  vertical-align: bottom;
}

small {
  font-size: small;
}