<div class="container--root">
	<div class="section__header">
		<h1>
			<span>Welcome to the Blitz challenge!</span>
		</h1>
	</div>
	<div class="section">
    <span>
		  We know this is not the greatest-looking site, yet the point of it is to see a bit of what you're capable of while developing in Angular. So, yes, you guessed it right, we will not necessarily judge the styles you apply to your solution.
    </span>
	</div>
	<div class="section">
    <span>
		  For this exercise, we expect you to fulfill a couple of requirements. So, get ready to start having fun!
    </span>
	</div>
	<div class="section">
    <span>
		  The first thing we expect you to do is to go ahead and <img src="https://i.ibb.co/0Qwky78/Fork.png"> this project to make your very own unique solution.
    </span>
  </div>
  <div class="section">
    <p>
      Now, we're sure you've already noticed this, but if not, at the top of this page there is a kind-of menu,	where there are two pages available: <b>Instructions</b> and <b>Users</b>. Yes, you could go now and try going back and forth between them, just come back here to keep reading these instructions.
    </p>
  </div>
  <div class="section">
    <span>
      Great, now that you're back let's start with the requirements you're ought to make.
    </span>
  </div>
  <div class="section">
    <div class="card card--large" style="min-height:200px; height:200px">
      <h2>1</h2>
      <p>If you go to the <code>users-list.component.html</code> you will notice each of the columns is manually defined in the code. In Blitz, we're all in for the dynamic definition of objects, so, we would love to see how you implement these columns dynamically. Meaning that instead of having <b>n-number of columns hardcoded</b> in that HTML, we want to see only <b>one dynamic definition</b> for all of them.</p>
    </div>
  </div>
  <div class="section">
    <div class="card card--large" style="min-height:160px; height:160px">
      <h2>2</h2>
      <p>Also in the Users List, right below the menu, there's an input that says <b>Search</b>. Yup, you guessed it right, you need to add logic to it. What we would like you to do is to <b>filter all the visible data</b> based on whatever you type on that input.</p>
    </div>
  </div>
  <div class="section">
    <div class="card card--large" style="min-height:230px; height:230px">
      <h2>3</h2>
      <p>And if you haven't had enough fun already, here's another challenge. Do you see those <b>sorting icons</b> on all the table columns? We would like you to add logic to them. Specifically, we would like to see
      </p>
      <ul class="simple">
        <li class="simple">the <b>arrow up</b> when sorting based on that column ascendingly,</li> <li class="simple">the <b>arrow down</b> when sorting descendingly,</li>
        <li class="simple">and <b>no icon</b> when we're not sorting based on that column.</li>
      </ul>      
    </div>
  </div>
  <div class="section">
    <div class="card card--large" style="min-height:300px; height:300px">
      <h2>4</h2>
      <p>It's great to see the user's basic info on each table row, but we would like to see their info expanded. That's why we would like you to implement a <b>new component</b> named <code>user-detail.component</code> that renders all the info available for a user (you could check its available properties on the <code>user.interface</code>). 
      </p>
      <p>Also, make sure you <b>create a new route</b> where you receive the <b>id</b> of the selected user <b>as a parameter</b>. Oh, and yes, could you please trigger the event to see a user's detail <b>when clicking on a row</b>? Finally, as a side note, remember to <b>add functionality to go back to the table</b>. Maybe a button, whatever floats your boat.</p>
    </div>
  </div>
  <div class="section">
    <div class="card card--large" style="min-height:200px; height:200px">
      <h2>5</h2>
      <p> We know you might be a bit tired by now, but if not. Here's the last challenge we're sure you're going to love, and who knows, maybe you've done it already. Remember that new component you just created? Well, we would like you to <b>create a reactive form</b> to edit its values in real-time. Make <b>all the fields required</b>, and <b>add a dummy put method</b> to the <code>data.service</code>.
      </p>
    </div>
  </div>
  <div class="section">
    <div class="card card--large" style="min-height:160px; height:160px">
      <h2>6</h2>
      <p> Looking for extra points? Awesome! Implement the <b>create mode</b> on the <code>user-detail.component</code>. Meaning that you need to <b>add a route without parameters</b>, since there's no id for new users, and <b>generate a dummy post method</b> in the <code>data.service</code>.
      </p>
    </div>
  </div>
  <div class="section">
    <span>
		  Wow, you've come to the end of this Blitz challenge! But not so fast! Before going away, remember to <b>send the link of your forked solution to your recruiter</b>. She will make sure to propagate your amazing work to us!
	  </span>
  </div>
  <div class="section">
    <span>
		Be proud of yourself because we surely are proud of you.
	  </span>
  </div>
  <div class="section">
    <span>Have a good one.</span>
  </div>
</div>
<small>Styles taken out of <a href="https://blitzdynamo.z21.web.core.windows.net">Dynamo</a></small>